<p id="notice"><%= notice %></p>

<h1>Game Questions</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Question</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @game_questions.each do |game_question| %>
      <tr>
        <td><%= game_question.game_id %></td>
        <td><%= game_question.question_id %></td>
        <td><%= link_to 'Show', game_question %></td>
        <td><%= link_to 'Edit', edit_game_question_path(game_question) %></td>
        <td><%= link_to 'Destroy', game_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game Question', new_game_question_path %>
