<div class="col-xs-12">
	<div class="col-xs-4">
	</div>	
	<div class="col-xs-4">
		<center>
			<h2>Select your Character</h2>
			<%= image_tag('caracter_2.png', :class=>"charecter_img")%>
			<%= image_tag('caracter_3.jpg', :class=>"charecter_img")%>
			<%= image_tag('caracter_4.jpg', :class=>"charecter_img")%>
			<%= image_tag('caracter_5.jpg', :class=>"charecter_img")%>

			<h3><%= link_to "Ready", select_charactor_path%></h3>
		</center>
	</div>	
	<div class="col-xs-4">
	</div>	
</div>
